h1 {
    /*  màu chữ*/
    color: red;
    /* kiểu chữ */
    font-style: italic;
    /* font chữ */
    font-family: Arial, Helvetica, sans-serif;
    /* viết hoa , viết thường */
    text-transform: uppercase;
    /* căn dòng */
    text-align: center;
    /* cỡ chữ */
    font-size: 18px;
}

p {
    color: brown;
    font-style: bold;
}

img {
    transition: 2.5s
}

input:checked~img {
    /* 1.nếu muốn biến mất khỏi giao diện */
    /* display: none; */
    /* 2.biến  khỏi giao diện ,nhưng vẫn muốn chiếm vị trí */
    visibility: hidden;
    /* 3.làm mờ đi và không tương tác đc */
    opacity: 0%;
}